body{
    box-sizing: border-box;
    height:100vh;
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin:65px 0 0 0; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section{
    height: 500px;
    width:350px;
    background: white;
    margin: 0 1px 10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.product-image{
    border-radius: 16px;
     background: linear-gradient(
        -25deg,
        rgb(2, 110, 252) 50%,                                                                 
        rgba(0, 255, 136, 0.849) 40%
    );

    
}

.product-image h4,p{
    margin: 0;
}
h4{
    font-size:larger;
}

.price{
    font-size:x-large;
    font-weight: bolder;
}

.details{
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}

.buy-now{
    border-radius: 32px;
    background:rgba(0, 255, 136, 0.849);
    width:150px;
    padding: 10px 25px;
    margin:20px 0 30px;
    border:0;
    color:white;
    font-size: large;
    transition: 0.8s;
}

.product-image:hover{
    background: linear-gradient(
        30deg,
        rgb(2, 110, 252) 65%,                                                                 
        rgba(0, 255, 136, 0.849) 55%
    );
    
    
}

.shoe-image{
    height: 300px;
    width:auto;
    margin:50px 50px 0 0;
}

.product-preference{
    box-sizing: border-box;
    color:white;
    background: rgba(255, 255, 255, 0.158);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px;
    
}

.star-price{
    width:100%;
    margin:0 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.price-1{
    color:white;
    font-size: 1.5rem;
    font-weight: 1rem;
}

.checked {
    color:orange;
}
.product-detail * {
    margin:0;
}
.nike-airmax{
    font-size: 2.5rem;
}

h2{
    margin:10px 0;
}
.color-options{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.circle{
    width:25px;
    height:25px;
    background-color:black;
    border-radius:50%;
    cursor:pointer;
}
/*     Color Circle    */
.color1{
    background-color:rgb(241, 135, 135);
}
.color2{
    position:relative;
    border-spacing: 10px;
    background-color:#a8eb12;
    
}

.color3{
    background-color:aquamarine;
}
.color4{
    background-color: yellow;
}
.color5{
    background-color: plum;
}



.counter, .size-value{
    color:white;
    font-size: larger;
}

.size-value{
    background: transparent;
    border:1px solid #fefefe;
    margin:0;
    width:60px;
    padding:8px 10px;
}
.counter{
    margin:0;
    width:40px;
    background:transparent;
    border:1px solid #fefefe;
    cursor:pointer;
}

.increment{
    border-radius:0 20px 20px 0;
    padding:8px 10px 8px 0;
}

.decrement{
    border-radius: 20px 0 0 20px;
    padding:8px 0 8px 10px;

}

.add-to-cart{
    color:white;
    background: #00bf72;
    width:100%;
    height:50px;
    margin:50px 0 0 0;
    border:0;
    font-size: larger;
    transition:0.5s;
    cursor:pointer;
}

.add-to-cart:hover{
    background:rgb(2, 110, 252) ;
}

.product-detail, .color, .size{
    margin:10px 0 0 0;
}
