:root {
    --lightest-blue: #B4F5F0;
    --baby-blue: #CBEBF5;
    --light-blue: #2CEEF0;
    --blue: #0476D0;
    --dark-blue: #042c60;
    --light-grey: #B0B7C0;
    --white: rgb(255, 255, 255);
    --border-radius: 5px;
    --border-light-blue: 2px solid var(--light-blue);
    --border-light-grey: 1px solid var(--light-grey);
    --fz-md: 20px;
    --fz-lg: 50px;
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;

}

.main {
    height: 100vh;
    background: url(Music/dark-background.jpg);
    /* background: var(--dark-blue); */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:320px) {

    .main .container {
        height: 500px;
        width: 400px;
        min-width: 300px;
        background: var(--white);
        border-radius: var(--border-radius);
        border: var(--border-light-blue);
        box-shadow: 1px 4px 56px -3px var(--light-blue);
        -webkit-box-shadow: 1px 4px 56px -3px var(--light-blue);
        -moz-box-shadow: 1px 4px 56px -3px var(--light-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

    }

    .main .container .game-board {
        display: grid;
        width: 250px;
        height: 250px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        /* border: var(--border-light-grey); */
        border: none;
        cursor: pointer;
    }

    .item:hover {
        background: var(--baby-blue);
    }

    .item {
        border: var(--border-light-grey);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .select-symbol {
        border: var(--border-light-grey);
        width: 65px;
        height: 32.5px;
        margin: 100px 0 0 0;
        border-radius: 45px;
        display: flex;
        justify-content: space-around;
    }

    .reset {
        padding: 10px 30px;
        margin: 50px 0 0 0;
        font-family: var(--font-sans);
        color: var(--white);
        background: var(--dark-blue);
        border-radius: var(--border-radius);
        border: var(--border-light-grey);
    }

    .main .container .player {
        font-family: var(--font-sans);
        font-size: var(--fz-md);
        color: var(--dark-blue)
    }

    .sym {
        color: var(--dark-blue);
        font-size: 20px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-sans);
        transition: all 1s ease;
    }

    .o {
        font-weight: 600;
    }

    .active {
        background: var(--blue);
        border-radius: 50%;
        color: var(--white);
    }

    .box-1 {
        border-style: none solid solid none;
    }

    .box-2 {
        border-top: none;
    }

    .box-3 {
        border-style: none none solid solid;
    }

    .box-4 {
        border-left: none;
    }

    .box-6 {
        border-right: none;
    }

    .box-7 {
        border-style: solid solid none none;
    }

    .box-8 {
        border-bottom: none;
    }

    .box-9 {
        border-style: solid none none solid;
    }

    .x-mark {
        color: var(--blue);
        font-size: var(--fz-lg);
    }

    .o-mark {
        color: var(--light-blue);
    }

    .x-mark,
    .o-mark {
        font-size: var(--fz-lg);
    }



}